body{

margin:0;
font-family:Arial;

background:linear-gradient(white,#ffe5e5);

overflow-x:hidden;

}


/* LOADING */

#loading-screen{

position:fixed;

width:100%;
height:100vh;

background:linear-gradient(#8b0000,#ff0000);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

z-index:9999;

}


.loader{

width:50px;
height:50px;

border:5px solid gold;

border-top:5px solid transparent;

border-radius:50%;

animation:spin 1s infinite linear;

}


@keyframes spin{

to{
transform:rotate(360deg);
}

}


.hidden{

display:none;

}


/* HERO */

.hero{

height:100vh;

background:linear-gradient(#ff0000,white);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

text-align:center;

}


.name{

font-size:3rem;

color:#00fff7;

}



#start-btn{

margin-top:30px;

padding:15px 30px;

font-size:1.2rem;

border:none;

border-radius:30px;

cursor:pointer;

background:white;

color:#8b0000;

transition:0.3s;

box-shadow:0px 0px 20px white;

}


#start-btn:hover{

transform:scale(1.15);

}



/* GALERIA */

.galeria{

padding:80px 10%;

background:#0f172a;

text-align:center;

}


.galeria h2{

color:white;

margin-bottom:40px;

}


.grid-galeria{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



/* ANIMAÇÃO INDIVIDUAL */

.grid-galeria img{

width:100%;

border-radius:15px;

transition:
transform 0.35s ease,
box-shadow 0.35s ease;

box-shadow:0px 10px 20px rgba(0,0,0,0.4);

cursor:pointer;

}


.grid-galeria img:hover{

transform:
translateY(-8px)
scale(1.06);

box-shadow:
0px 25px 50px rgba(0,0,0,0.8);

}



/* CARTA */

.carta-section{

height:100vh;

background:#0b1120;

display:flex;

justify-content:center;

align-items:center;

}


.envelope{

width:320px;
height:200px;

position:relative;

cursor:pointer;

transition:1s;

}


.corpo{

position:absolute;

width:100%;
height:100%;

background:#1e293b;

border-radius:10px;

}


.tampa{

position:absolute;

width:100%;
height:100%;

background:#334155;

clip-path:polygon(0 0,50% 60%,100% 0);

}



.papel{

position:absolute;

width:90%;
height:160px;

background:white;

left:5%;
top:20px;

border-radius:10px;

transform:translateY(50px);

transition:1s;

opacity:0;

}


.envelope.abrir .papel{

transform:translateY(-40px);

opacity:1;

}



/* JANELA RPG */

.janela{

position:fixed;

top:50%;
left:50%;

transform:translate(-50%,-50%) scale(0);

background:white;

padding:40px;

border-radius:15px;

width:400px;

max-width:90%;

text-align:center;

box-shadow:0px 30px 80px rgba(0,0,0,0.8);

transition:0.5s;

z-index:20;

}


.janela.ativa{

transform:translate(-50%,-50%) scale(1);

}



/* BOTÃO FINAL */

#fim{

margin-top:20px;

padding:15px 30px;

border:none;

border-radius:30px;

background:#ff0000;

color:white;

font-size:18px;

cursor:pointer;

transition:0.3s;

}


#fim:hover{

transform:scale(1.1);

background:#cc0000;

}